    <div class="header">
      <div class="container">
        <h1>DEIGirls Diary</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <ul class="comments">
          <% @all_entries.each do |p| %>
          	<h3><%= p.title %></h3>
		<p><%=p.created_at %> by <%=p.author %></p>
		<p><%= p.description%> </p>
          <% end %>
        </ul> 
     </div>

 <a href="http://localhost:8000/admin/">Admin area</a> 

