<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new post on your diary!</h1>
    <p>
		<%= @author %> wrote a post with the title "<%= @title %>":
		<%= @text %>
    </p>
  </body>
</html>
